<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="{link this}">
    <meta property="og:type" content="article">
    <meta property="og:image" n:ifset="$post->thumbnail" content="{$post->thumbnail}">
    <meta property="og:description" n:ifset="$post->content" content="{$post->content|markdown|stripHtml|truncate:120,'...'}">
    <link rel="icon" href="{$baseUrl}/favicon.ico">

    <title>{ifset $title}{$title} | {/ifset}Ubunlog</title>

    <link rel="canonical" n:href="this">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{$baseUrl}/css/app.css" />
    {block css}{/block}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-white mediumnavigation">
      <!-- Begin Logo -->
      <a class="navbar-brand" n:href="Homepage:">
        <img src="https://static.cdnlogo.com/logos/u/81/ubuntu.svg" alt="logo">
      </a>
      <!-- End Logo -->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!-- Begin Menu -->
        <ul class="navbar-nav ml-auto">
          {if $user->loggedIn}
            {block navbar-item}{/block}
            <li class="nav-item">
              <a class="nav-link" n:href="Post:create"><i class="fas fa-plus"></i> Create</a>
            </li>
            <li class="nav-item">
              <span class="nav-link" href="#"><i class="fas fa-user"></i> {$user->id}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" n:href="Sign:out"><i class="fas fa-sign-out-alt"></i> Sign out</a>
            </li>
          {else}
            <li class="nav-item"><a class="nav-link" n:href="Sign:in"><i class="fas fa-sign-in-alt"></i> Sign in</a></li>
          {/if}
        </ul>
        <!-- End Menu -->
        <div class="form-inline my-2 my-lg-0">
          <input id="search-input" class="form-control mr-sm-2" type="text" placeholder="Search">
          <span onClick="searchNow()" class="search-icon"><i class="fas fa-search"></i></span>
          <script>
            function searchNow() {
              var searchURL = {$baseUrl} + '/list?search=';
              window.open(searchURL + document.getElementById("search-input").value, "_self");
            }
            var elem = document.getElementById('search-input');
            elem.addEventListener('keypress', function(e) {
              if (e.keyCode == 13) {
                searchNow();
              }
            });
          </script>
        </div>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <main role="main" class="container mt-2">
      <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
      {control breadCrumb $title}

      {include content}

      <div class="footer">
        <p class="pull-left">
          Copyright © 2021
        </p>
        <p class="pull-right">
          Designed by <a target="_blank" href="https://m.me/gingdev">Gingdev</a> |
          Powered by <a target="_blank" href="{$baseUrl}">Nette</a>
        </p>
        <div class="clearfix"></div>
      </div>
    </main>

    {block scripts}
      <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
      <script src="{$baseUrl}/js/app.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    {/block}
  </body>
</html>
