<nav n:if="!$presenter->isLinkCurrent('Homepage:')" aria-label="breadcrumb">
  <ol class="breadcrumb mt-5">
    <li class="breadcrumb-item"><a href="{plink Homepage:}"><i class="fas fa-home"></i> Home</a></li>
    {foreach $links as $link}
      <li class="breadcrumb-item">
        <a href="{$link->url}">{$link->title}</a>
      </li>
    {/foreach}
    <li class="breadcrumb-item active">{$title}</li>
  </ol>
</nav>
