parameters:


application:
  errorPresenter: Error
  mapping:
    *: App\*Module\Presenters\*Presenter


session:
  expiration: 14 days


di:
  export:
    parameters: yes
    tags: no


services:
  - App\Router\RouterFactory::createRouter
  nette.latteFactory:
    setup:
      - addFilter(markdown, @App\Latte\MarkdownFilter)
  markdown: App\Latte\MarkdownFilter
  breadcrumb: App\Components\BreadCrumbControl
